@charset "utf-8";

@media (max-width:768px) {
    .pc-show {
        display: none !important;
    }

    .m-show {
        display: block !important;
    }

    #hd_pop,
    #hd_wrapper,
    #tnb .inner,
    #container_wr,
    #ft_wr {
        width: 100%;
    }

    #hd,
    #wrapper,
    #ft {
        min-width: auto;
    }

    #logo {
        width: 120px;
        padding: 0;
        z-index: 100;
    }

    #logo img {
        max-width: 100%;
    }

    #hd {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 65px;
        border-bottom: 1px solid #e5e5e5;
    }

    #hd_wrapper {
        padding: 15px 20px;
    }

    #tnb {
        top: auto;
        right: auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    #hd_qnb {
        float: none;
        text-align: left;
        padding-left: 15px;
    }

    #hd_qnb li {
        float: none;
        display: inline-block;
    }

    #gnb {
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        min-width: auto;
        width: 100%;
        z-index: 1000;
        padding: 20px;
        max-height: 100vh;
        overflow-y: auto;
        background: #fff;
        transform: none;
        transition: 0.3s all;
    }

    #gnb .nav-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }

    #gnb.on {
        left: 0;
    }

    #gnb .gnb_1dli {
        float: none;
        text-align: left;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    .gnb_1da {
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        padding: 0 15px;
        color: #282828;
        text-decoration: none;
        transition: 0.3s all;
        text-align: left;
    }

    .gnb_2dul {
        position: relative;
        top: 0;
    }

    .gnb_2da {
        padding: 0 15px;
        font-size: 15px;
        color: #444;
    }

    .nav-open-btn {
        font-size: 30px;
        color: #444;
    }

    #wrapper {
        margin-top: 65px;
    }

    #wrapper.main #container {
        overflow: hidden;
    }

    #visual .visual-slide .swiper-slide {
        height: 270px;
        background-position: left top;
        background-size: cover;
    }

    #visual .visual-slide .swiper-slide[data-swiper-slide-index="0"] {
        background-image: url(../img/mobile/bgImg01.jpg);
    }

    #visual .visual-slide .swiper-slide[data-swiper-slide-index="1"] {
        background-image: url(../img/mobile/bgImg02.jpg);
    }

    #visual .visual-slide .swiper-slide[data-swiper-slide-index="2"] {
        background-image: url(../img/mobile/bgImg03.jpg);
    }

    #visual .visual-slide .swiper-slide[data-swiper-slide-index="3"] {
        background-image: url(../img/mobile/bgImg04.jpg);
    }

    #visual .visual-slide .swiper-slide[data-swiper-slide-index="4"] {
        background-image: url(../img/mobile/bgImg05.jpg);
    }

    #visual .inner-wrapper {
        width: 100%;
    }

    #visual .swiper-pagination {
        top: auto;
        bottom: 55px;
        left: 50%;
        right: auto;
        padding: 3px 20px;
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;

    }

    .swiper-pagination-bullet:last-child {
        margin-right: 0;
    }

    #visual .notice-bar {
        height: 50px;
        bottom: -.5px;
    }

    #visual .notice-bar .tit {
        display: none;
    }

    #visual .notice-bar .inner-wrapper {
        font-size: 13px;
    }

    #visual .notice-bar .notice-slide {
        width: 100%;
    }

    #visual .notice-bar .notice-slide .notice-list {
        padding: 0 15px;
    }

    #visual .notice-bar .notice-slide .notice-list a {
        display: block;
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #visual .notice-bar .lt_info {
        width: 30%;
        text-align: right;
    }


    .sec01 .event {
        display: block;
    }

    #main_container .sec01 {
        display: block;
        margin-left: 0;
        padding: 30px 15px;
    }

    .main .event>.tit {
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .main .event>.tit .desc {
        margin-top: 10px;
        font-size: 16px;
    }

    .main .event .event_latest a {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main .event .event_latest a::before {
        display: none;
    }

    .main .event .event_latest a li {
        position: relative;
    }

    .sec01 .event .con .tit {
        font-size: 15px;
    }

    .sec01 .event .con .desc {
        font-size: 13px;
    }

    .main_con.sec02 {
        display: block;
        padding: 0 15px;
    }

    .quick_wrap {
        width: 100%;
    }

    .quick_wrap li {
        padding: 20px;
    }

    .quick_wrap li .tit {
        font-size: 16px;
    }

    #main_container .main_banner {
        margin-top: 20px;
        margin-left: 0;
    }

    .latest_top_wr {
        margin: 30px -10px 20px;
        padding: 0 10px;
    }

    .pic_li_lt .lat_title {
        font-size: 16px;
    }

    .pic_lt {
        padding: 20px 0;
    }

    .pic_lt .lat_title {
        font-size: 16px;
    }

    .pic_lt .lt_more {
        top: 30px;
        right: 10px;
    }

    .pic_li_lt {
        float: none;
        width: 100%;
    }

    .pic_lt li {
        width: 50%;
    }

    .pic_lt li a {
        font-size: 14px;
    }

    .gallery_li .lt_info {
        width: 100%;
        padding-top: 5px;
    }

    #ft_wr {
        display: block;
    }

    .ft_logo {
        margin-bottom: 20px;
        text-align: center;
    }

    .ft_logo img {
        width: 130px;
    }

    #ft_link a {
        font-size: 13px;
    }

    #ft_wr .ft_cnt {
        justify-content: center;
        text-align: center;
    }

    .ft_content {
        margin-left: 0;
    }

    .ft_info {
        font-size: 12px;
    }

    #mysubmenu {
        display: none;
    }

    #location {
        margin-bottom: 20px;
        padding-right: 15px;
    }

    #wrapper #sub-title .sub-title-h2 {
        width: 100%;
    }

    #wrapper.sub #container {
        float: none;
        width: 100%;
        padding: 0 15px;
    }

    #wrapper.sub #container_wr {
        padding-top: 30px;
    }

    .greeting h3 {
        margin-bottom: 0;
        font-size: 20px;
    }

    .greeting .box .txt {
        font-size: 14px;
    }

    .gall_row .col-gn-4 {
        width: 50%;
    }

    #bo_gall .gall_text_href a {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #bo_gall .gall_li {
        min-height: 263px;
        margin-bottom: 30px;
    }

    #bo_gall .gall_box {
        margin-bottom: 0;
    }

    .branch-list li {
        width: calc(50% - 5px);
        margin-right: 10px;
    }

    .branch-list li:nth-child(even) {
        margin-right: 0;
    }

    .branch-list li:nth-child(odd) {
        margin-right: 10px;
    }

    .branch-list li .icon {
        width: 30px;
        height: 30px;
        background-size: cover;
    }

    .branch-list li .tit {
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    .cont.organization .img img {
        max-width: 100%;
    }

    .cont.honor .img img {
        max-width: 100%;
    }

    #modal {
        width: 95%;
    }

    .local_sch .flex-box {
        display: block;
    }

    .local_sch .input-row {
        display: block;
    }

    .local_sch .input-col {
        display: inline-block;
        width: calc(50% - 7px);
        margin-right: 0;
        margin-bottom: 10px;
    }

    .local_sch .input-col:nth-child(odd) {
        margin-right: 10px;
    }


    .local_sch .input-col input {
        width: 100%;
    }

    .local_sch .btn_submit {
        width: 100%;
    }

    .promotion_top .flex-box {
        display: block;
    }

    .promotion_top .promotion_info {
        margin-top: 10px;
    }

    .latest_top_wr {
        padding: 0 25px;
    }

    .pic_li_lt {
        padding: 0;
    }

    .main_gallery .pic_lt {
        margin-left: 0;
    }

    .location .location-info {
        display: block;
    }

    .location .location-info .col {
        width: 100%;
    }

    .location .location-info .col02 {
        margin-top: 30px;
    }
}